[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/Color-Scheme-Test"]
	path = bundle/Color-Scheme-Test
	url = https://github.com/vim-scripts/Color-Scheme-Test
[submodule "bundle/IndentAnything"]
	path = bundle/IndentAnything
	url = https://github.com/vim-scripts/IndentAnything.git
[submodule "bundle/django.vim"]
	path = bundle/django.vim
	url = https://github.com/vim-scripts/django.vim
