[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/Color-Scheme-Test"]
	path = bundle/Color-Scheme-Test
	url = https://github.com/vim-scripts/Color-Scheme-Test
[submodule "bundle/IndentAnything"]
	path = bundle/IndentAnything
	url = https://github.com/vim-scripts/IndentAnything.git
[submodule "bundle/django.vim"]
	path = bundle/django.vim
	url = https://github.com/vim-scripts/django.vim
[submodule "bundle/dtd.vim"]
	path = bundle/dtd.vim
	url = https://github.com/cespare/dtd.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/mxml"]
	path = bundle/mxml
	url = https://github.com/cespare/mxml.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/python.vim"]
	path = bundle/python.vim
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/virtualenv.vim"]
	path = bundle/virtualenv.vim
	url = git://github.com/vim-scripts/virtualenv.vim.git
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = git://github.com/vim-scripts/Zenburn.git
[submodule "bundle/vim-mapserver"]
	path = bundle/vim-mapserver
	url = git://github.com/calvinchengx/vim-mapserver.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/Vimpress"]
	path = bundle/Vimpress
	url = git://github.com/PotHix/Vimpress.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/textutil"]
	path = bundle/textutil
	url = git://github.com/vim-scripts/textutil.vim.git
[submodule "bundle/Dpaste.com"]
	path = bundle/Dpaste.com
	url = git://github.com/vim-scripts/Dpaste.com-Plugin.git
[submodule "bundle/paster.vim"]
	path = bundle/paster.vim
	url = git://github.com/weierophinney/paster.vim.git
[submodule "bundle/mustang-vim"]
	path = bundle/mustang-vim
	url = git://github.com/croaker/mustang-vim.git
[submodule "bundle/jslint.vim"]
	path = bundle/jslint.vim
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = git://github.com/reinh/vim-makegreen.git
[submodule "bundle/pytest.vim"]
	path = bundle/pytest.vim
	url = git://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/TwitVim"]
	path = bundle/TwitVim
	url = git://github.com/vim-scripts/TwitVim.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
